doctype html
html(lang="en")
  
  include ./inc/header.jade
    title Webpack + Typescript + Three.js 1 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
     